{
  "openapi": "3.0.3",
  "info": {
    "title": "Go Pkgsite API",
    "description": "API for accessing information about Go packages and modules on pkg.go.dev.",
    "version": "v0.1.0",
    "Extensions": null
  },
  "servers": [
    {
      "url": "https://pkg.go.dev/v1beta",
      "Extensions": null
    }
  ],
  "paths": {
    "/imported-by/{path}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path"
        },
        {
          "$ref": "#/components/parameters/module"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/limit"
        },
        {
          "$ref": "#/components/parameters/token"
        },
        {
          "$ref": "#/components/parameters/filter"
        }
      ],
      "get": {
        "summary": "Paths of packages importing the package at {path},\nnot including packages in the same module.\nFiltering is applied to the list of paths in the response.\nOnly paths that match the filter query parameter are returned.\nWithin a filter, the variable `path` is set to the import path.",
        "operationId": "GetImportedBy",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PackageImportedBy"
          }
        },
        "Extensions": null
      },
      "Extensions": null
    },
    "/module/{path}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/licenses"
        },
        {
          "$ref": "#/components/parameters/readme"
        }
      ],
      "get": {
        "summary": "Information about the module at {path}.",
        "operationId": "GetModule",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Module"
          }
        },
        "Extensions": null
      },
      "Extensions": null
    },
    "/package/{path}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path"
        },
        {
          "$ref": "#/components/parameters/module"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/goos"
        },
        {
          "$ref": "#/components/parameters/goarch"
        },
        {
          "$ref": "#/components/parameters/doc"
        },
        {
          "$ref": "#/components/parameters/examples"
        },
        {
          "$ref": "#/components/parameters/imports"
        },
        {
          "$ref": "#/components/parameters/licenses"
        }
      ],
      "get": {
        "summary": "Information about the package at {path}.",
        "operationId": "GetPackage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Package"
          }
        },
        "Extensions": null
      },
      "Extensions": null
    },
    "/packages/{path}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/limit"
        },
        {
          "$ref": "#/components/parameters/token"
        },
        {
          "$ref": "#/components/parameters/filter"
        }
      ],
      "get": {
        "summary": "Information about packages of the module at {path}.\nFiltering is applied to the list of packages in the response.\nOnly packages that match the filter query parameter are returned.",
        "operationId": "GetPackages",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PackagesResponse"
          },
          "400": {
            "$ref": "#/components/responses/PackagesBadRequestResponse"
          }
        },
        "Extensions": null
      },
      "Extensions": null
    },
    "/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/q"
        },
        {
          "$ref": "#/components/parameters/symbol"
        },
        {
          "$ref": "#/components/parameters/limit"
        },
        {
          "$ref": "#/components/parameters/token"
        },
        {
          "$ref": "#/components/parameters/filter"
        }
      ],
      "get": {
        "summary": "Search results. Only results that match the filter query parameter are returned.",
        "operationId": "GetSearch",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedSearchResults"
          }
        },
        "Extensions": null
      },
      "Extensions": null
    },
    "/symbols/{path}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path"
        },
        {
          "$ref": "#/components/parameters/module"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/goos"
        },
        {
          "$ref": "#/components/parameters/goarch"
        },
        {
          "$ref": "#/components/parameters/limit"
        },
        {
          "$ref": "#/components/parameters/token"
        },
        {
          "$ref": "#/components/parameters/filter"
        }
      ],
      "get": {
        "summary": "List of symbols for the package at {path}.\nFiltering is applied to the list of symbols in the response.\nOnly symbols that match the filter query parameter are returned.",
        "operationId": "GetSymbols",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PackageSymbols"
          }
        },
        "Extensions": null
      },
      "Extensions": null
    },
    "/versions/{path}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path"
        },
        {
          "$ref": "#/components/parameters/limit"
        },
        {
          "$ref": "#/components/parameters/token"
        },
        {
          "$ref": "#/components/parameters/filter"
        }
      ],
      "get": {
        "summary": "Versions of the module at {path}.\nIf there are tagged versions, they are returned.\nOtherwise, the 10 most recent pseudo-versions are returned.\nThe versions are in descending order.\nOnly results that match the filter query parameter are returned.",
        "operationId": "GetVersions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedModuleVersions"
          }
        },
        "Extensions": null
      },
      "Extensions": null
    },
    "/vulns/{path}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path"
        },
        {
          "$ref": "#/components/parameters/module"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/limit"
        },
        {
          "$ref": "#/components/parameters/token"
        },
        {
          "$ref": "#/components/parameters/filter"
        }
      ],
      "get": {
        "summary": "Vulnerabilities of the module or package at {path}, from\nthe Go vulnerability database (https://vuln.go.dev).\nOnly results that match the filter query parameter are returned.",
        "operationId": "GetVulns",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedVulnerabilities"
          }
        },
        "Extensions": null
      },
      "Extensions": null
    }
  },
  "components": {
    "schemas": {
      "Candidate": {
        "type": "object",
        "properties": {
          "modulePath": {
            "type": "string",
            "Extensions": null
          },
          "packagePath": {
            "type": "string",
            "Extensions": null
          }
        },
        "Extensions": null
      },
      "Error": {
        "type": "object",
        "properties": {
          "candidates": {
            "$ref": "#/components/schemas/ErrorCandidates"
          },
          "code": {
            "description": "HTTP status code",
            "type": "integer",
            "Extensions": null
          },
          "fixes": {
            "description": "suggestions for how to fix",
            "type": "array",
            "items": {
              "type": "string",
              "Extensions": null
            },
            "Extensions": null
          },
          "message": {
            "type": "string",
            "Extensions": null
          }
        },
        "Extensions": null
      },
      "ErrorCandidates": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Candidate"
        },
        "Extensions": null
      },
      "License": {
        "type": "object",
        "properties": {
          "contents": {
            "type": "string",
            "Extensions": null
          },
          "filePath": {
            "type": "string",
            "Extensions": null
          },
          "types": {
            "type": "array",
            "items": {
              "type": "string",
              "Extensions": null
            },
            "Extensions": null
          }
        },
        "Extensions": null
      },
      "Licenses": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/License"
        },
        "Extensions": null
      },
      "Module": {
        "type": "object",
        "properties": {
          "commitTime": {
            "description": "CommitTime is the timestamp returned by the module proxy's .info endpoint,\nrepresenting the time the version was created.",
            "type": "string",
            "format": "date-time",
            "example": "2026-02-11T19:14:29Z",
            "Extensions": null
          },
          "goModContents": {
            "type": "string",
            "Extensions": null
          },
          "hasGoMod": {
            "type": "boolean",
            "example": true,
            "Extensions": null
          },
          "isLatest": {
            "type": "boolean",
            "example": true,
            "Extensions": null
          },
          "isRedistributable": {
            "type": "boolean",
            "example": true,
            "Extensions": null
          },
          "isStandardLibrary": {
            "type": "boolean",
            "example": false,
            "Extensions": null
          },
          "licenses": {
            "$ref": "#/components/schemas/Licenses"
          },
          "path": {
            "type": "string",
            "example": "golang.org/x/time",
            "Extensions": null
          },
          "readme": {
            "$ref": "#/components/schemas/Readme"
          },
          "repoUrl": {
            "type": "string",
            "example": "https://cs.opensource.google/go/x/time",
            "Extensions": null
          },
          "version": {
            "type": "string",
            "example": "v0.15.0",
            "Extensions": null
          }
        },
        "Extensions": null
      },
      "ModuleVersion": {
        "type": "object",
        "properties": {
          "commitTime": {
            "type": "string",
            "format": "date-time",
            "example": "2026-02-11T19:14:29Z",
            "Extensions": null
          },
          "deprecated": {
            "type": "boolean",
            "example": false,
            "Extensions": null
          },
          "deprecationReason": {
            "type": "string",
            "example": "",
            "Extensions": null
          },
          "hasGoMod": {
            "description": "Whether the module has a go.mod file.",
            "type": "boolean",
            "example": true,
            "Extensions": null
          },
          "isRedistributable": {
            "description": "Whether the license allows distribution.",
            "type": "boolean",
            "example": true,
            "Extensions": null
          },
          "latestVersion": {
            "description": "latest unretracted version",
            "type": "string",
            "example": "v0.15.0",
            "Extensions": null
          },
          "modulePath": {
            "type": "string",
            "example": "golang.org/x/time",
            "Extensions": null
          },
          "retracted": {
            "type": "boolean",
            "example": false,
            "Extensions": null
          },
          "retractionReason": {
            "type": "string",
            "example": "",
            "Extensions": null
          },
          "version": {
            "type": "string",
            "example": "v0.15.0",
            "Extensions": null
          }
        },
        "Extensions": null
      },
      "ModuleVersions": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ModuleVersion"
        },
        "Extensions": null
      },
      "Package": {
        "type": "object",
        "properties": {
          "docs": {
            "type": "string",
            "Extensions": null
          },
          "goarch": {
            "type": "string",
            "example": "all",
            "Extensions": null
          },
          "goos": {
            "type": "string",
            "example": "all",
            "Extensions": null
          },
          "imports": {
            "type": "array",
            "items": {
              "type": "string",
              "Extensions": null
            },
            "Extensions": null
          },
          "isLatest": {
            "type": "boolean",
            "example": true,
            "Extensions": null
          },
          "isStandardLibrary": {
            "type": "boolean",
            "example": false,
            "Extensions": null
          },
          "licenses": {
            "$ref": "#/components/schemas/Licenses"
          },
          "modulePath": {
            "type": "string",
            "example": "github.com/google/go-cmp",
            "Extensions": null
          },
          "version": {
            "type": "string",
            "example": "v0.7.0",
            "Extensions": null
          },
          "path": {
            "type": "string",
            "example": "github.com/google/go-cmp/cmp",
            "Extensions": null
          },
          "name": {
            "type": "string",
            "example": "cmp",
            "Extensions": null
          },
          "synopsis": {
            "type": "string",
            "example": "Package cmp determines equality of values.",
            "Extensions": null
          },
          "isRedistributable": {
            "type": "boolean",
            "example": true,
            "Extensions": null
          }
        },
        "Extensions": null
      },
      "PackageImportedBy": {
        "type": "object",
        "properties": {
          "importedBy": {
            "$ref": "#/components/schemas/PaginatedStrings"
          },
          "modulePath": {
            "type": "string",
            "Extensions": null
          },
          "version": {
            "type": "string",
            "Extensions": null
          }
        },
        "Extensions": null
      },
      "PackageInfo": {
        "type": "object",
        "properties": {
          "isRedistributable": {
            "description": "Whether the license allows distribution.",
            "type": "boolean",
            "Extensions": null
          },
          "name": {
            "type": "string",
            "Extensions": null
          },
          "path": {
            "type": "string",
            "Extensions": null
          },
          "synopsis": {
            "type": "string",
            "Extensions": null
          }
        },
        "Extensions": null
      },
      "PackageInfos": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/PackageInfo"
        },
        "Extensions": null
      },
      "PackageSymbols": {
        "type": "object",
        "properties": {
          "modulePath": {
            "type": "string",
            "example": "golang.org/x/time",
            "Extensions": null
          },
          "symbols": {
            "$ref": "#/components/schemas/PaginatedSymbols"
          },
          "version": {
            "type": "string",
            "example": "v0.15.0",
            "Extensions": null
          }
        },
        "Extensions": null
      },
      "PackagesBadRequestResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 400,
            "Extensions": null
          },
          "message": {
            "type": "string",
            "example": "golang.org/x/time/rate is a package, not a module",
            "Extensions": null
          },
          "fixes": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "retry the call with the containing module: \"golang.org/x/time\"",
              "Extensions": null
            },
            "Extensions": null
          }
        },
        "required": [
          "code",
          "message",
          "fixes"
        ],
        "Extensions": null
      },
      "PackagesResponse": {
        "type": "object",
        "properties": {
          "isStandardLibrary": {
            "type": "boolean",
            "Extensions": null
          },
          "modulePath": {
            "type": "string",
            "Extensions": null
          },
          "packages": {
            "$ref": "#/components/schemas/PaginatedPackageInfos"
          },
          "version": {
            "type": "string",
            "Extensions": null
          }
        },
        "Extensions": null
      },
      "PaginatedModuleVersions": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "items": {
                "$ref": "#/components/schemas/ModuleVersions"
              }
            },
            "Extensions": null
          },
          {
            "$ref": "#/components/schemas/PaginatedResponse"
          }
        ],
        "Extensions": null
      },
      "PaginatedPackageInfos": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "items": {
                "$ref": "#/components/schemas/PackageInfos"
              }
            },
            "Extensions": null
          },
          {
            "$ref": "#/components/schemas/PaginatedResponse"
          }
        ],
        "Extensions": null
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "example": 15,
            "Extensions": null
          },
          "nextPageToken": {
            "type": "string",
            "example": "c5806e999a87f632c2e6016f77dbf204",
            "Extensions": null
          }
        },
        "required": [
          "nextPageToken",
          "total"
        ],
        "Extensions": null
      },
      "PaginatedSearchResults": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "items": {
                "$ref": "#/components/schemas/SearchResults"
              }
            },
            "Extensions": null
          },
          {
            "$ref": "#/components/schemas/PaginatedResponse"
          }
        ],
        "Extensions": null
      },
      "PaginatedStrings": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "type": "string",
                  "Extensions": null
                },
                "Extensions": null
              }
            },
            "Extensions": null
          },
          {
            "$ref": "#/components/schemas/PaginatedResponse"
          }
        ],
        "Extensions": null
      },
      "PaginatedSymbols": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "items": {
                "$ref": "#/components/schemas/Symbols"
              }
            },
            "Extensions": null
          },
          {
            "$ref": "#/components/schemas/PaginatedResponse"
          }
        ],
        "Extensions": null
      },
      "PaginatedVulnerabilities": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "items": {
                "$ref": "#/components/schemas/Vulnerabilities"
              }
            },
            "Extensions": null
          },
          {
            "$ref": "#/components/schemas/PaginatedResponse"
          }
        ],
        "Extensions": null
      },
      "Readme": {
        "type": "object",
        "properties": {
          "contents": {
            "type": "string",
            "Extensions": null
          },
          "filepath": {
            "type": "string",
            "Extensions": null
          }
        },
        "Extensions": null
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "modulePath": {
            "type": "string",
            "example": "github.com/docktermj/go-xyzzy-helpers",
            "Extensions": null
          },
          "packagePath": {
            "type": "string",
            "example": "github.com/docktermj/go-xyzzy-helpers/logger",
            "Extensions": null
          },
          "synopsis": {
            "type": "string",
            "example": "Package helper ...",
            "Extensions": null
          },
          "version": {
            "type": "string",
            "example": "v0.2.2",
            "Extensions": null
          }
        },
        "Extensions": null
      },
      "SearchResults": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SearchResult"
        },
        "Extensions": null
      },
      "Symbol": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "example": "Type",
            "Extensions": null
          },
          "name": {
            "type": "string",
            "example": "Limit",
            "Extensions": null
          },
          "parent": {
            "type": "string",
            "example": "Limit",
            "Extensions": null
          },
          "synopsis": {
            "type": "string",
            "example": "type Limit float64",
            "Extensions": null
          }
        },
        "Extensions": null
      },
      "Symbols": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Symbol"
        },
        "Extensions": null
      },
      "Vulnerabilities": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Vulnerability"
        },
        "example": null,
        "Extensions": null
      },
      "Vulnerability": {
        "type": "object",
        "properties": {
          "details": {
            "type": "string",
            "Extensions": null
          },
          "fixedVersion": {
            "type": "string",
            "Extensions": null
          },
          "id": {
            "type": "string",
            "Extensions": null
          },
          "summary": {
            "type": "string",
            "Extensions": null
          }
        },
        "Extensions": null
      }
    },
    "responses": {
      "Module": {
        "description": "Successful response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Module"
            },
            "Extensions": null
          }
        },
        "Extensions": null
      },
      "Package": {
        "description": "Successful response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Package"
            },
            "Extensions": null
          }
        },
        "Extensions": null
      },
      "PackageImportedBy": {
        "description": "Successful response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PackageImportedBy"
            },
            "Extensions": null
          }
        },
        "Extensions": null
      },
      "PackageSymbols": {
        "description": "Successful response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PackageSymbols"
            },
            "Extensions": null
          }
        },
        "Extensions": null
      },
      "PackagesBadRequestResponse": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PackagesBadRequestResponse"
            },
            "Extensions": null
          }
        },
        "Extensions": null
      },
      "PackagesResponse": {
        "description": "Successful response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PackagesResponse"
            },
            "Extensions": null
          }
        },
        "Extensions": null
      },
      "PaginatedModuleVersions": {
        "description": "Successful response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PaginatedModuleVersions"
            },
            "Extensions": null
          }
        },
        "Extensions": null
      },
      "PaginatedSearchResults": {
        "description": "Successful response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PaginatedSearchResults"
            },
            "Extensions": null
          }
        },
        "Extensions": null
      },
      "PaginatedVulnerabilities": {
        "description": "Successful response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PaginatedVulnerabilities"
            },
            "Extensions": null
          }
        },
        "Extensions": null
      }
    },
    "parameters": {
      "doc": {
        "name": "doc",
        "in": "query",
        "description": "Documentation format: text, html, md or markdown.\nIf omitted, documentation is not returned.",
        "schema": {
          "type": "string",
          "Extensions": null
        },
        "Extensions": null
      },
      "examples": {
        "name": "examples",
        "in": "query",
        "description": "Whether to include examples with the returned documentation.",
        "schema": {
          "type": "boolean",
          "Extensions": null
        },
        "Extensions": null
      },
      "filter": {
        "name": "filter",
        "in": "query",
        "description": "Include only items matching the regular expression filter.",
        "schema": {
          "type": "string",
          "Extensions": null
        },
        "Extensions": null
      },
      "goarch": {
        "name": "goarch",
        "in": "query",
        "description": "GOARCH of documentation build context.",
        "schema": {
          "type": "string",
          "Extensions": null
        },
        "Extensions": null
      },
      "goos": {
        "name": "goos",
        "in": "query",
        "description": "GOOS of documentation build context.",
        "schema": {
          "type": "string",
          "Extensions": null
        },
        "Extensions": null
      },
      "imports": {
        "name": "imports",
        "in": "query",
        "description": "Whether to include the packages that this one imports.",
        "schema": {
          "type": "boolean",
          "Extensions": null
        },
        "Extensions": null
      },
      "licenses": {
        "name": "licenses",
        "in": "query",
        "description": "Whether to include licenses in the result.",
        "schema": {
          "type": "boolean",
          "Extensions": null
        },
        "Extensions": null
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Max number of items to return.",
        "schema": {
          "type": "integer",
          "Extensions": null
        },
        "Extensions": null
      },
      "module": {
        "name": "module",
        "in": "query",
        "description": "Module path.",
        "schema": {
          "type": "string",
          "Extensions": null
        },
        "Extensions": null
      },
      "path": {
        "name": "path",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "Extensions": null
        },
        "Extensions": null
      },
      "q": {
        "name": "q",
        "in": "query",
        "description": "Find packages matching this query.",
        "schema": {
          "type": "string",
          "example": "xyzzy",
          "Extensions": null
        },
        "Extensions": null
      },
      "readme": {
        "name": "readme",
        "in": "query",
        "description": "Whether to include the README in the result.",
        "schema": {
          "type": "boolean",
          "Extensions": null
        },
        "Extensions": null
      },
      "symbol": {
        "name": "symbol",
        "in": "query",
        "description": "If non-empty, find symbols matching this string.\nThe query further restricts the search to matching packages.",
        "schema": {
          "type": "string",
          "Extensions": null
        },
        "Extensions": null
      },
      "token": {
        "name": "token",
        "in": "query",
        "description": "Where to resume listing.",
        "schema": {
          "type": "string",
          "Extensions": null
        },
        "Extensions": null
      },
      "version": {
        "name": "version",
        "in": "query",
        "description": "Module version: semantic version, 'latest', or default branches 'master' or 'main'.\n(Latest if empty).",
        "schema": {
          "type": "string",
          "example": "master",
          "Extensions": null
        },
        "Extensions": null
      }
    },
    "Extensions": null
  },
  "Extensions": null
}