{
  "openapi": "3.0.3",
  "info": {
    "title": "Go Pkgsite API",
    "description": "API for accessing information about Go packages and modules on pkg.go.dev.",
    "contact": {
      "name": "The Go team at Google",
      "url": "https://go.dev/s/discovery-feedback",
      "email": "golang-dev@googlegroups.com"
    },
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://pkg.go.dev/v1"
    }
  ],
  "paths": {
    "/imported-by/{path}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/packageInPath"
        },
        {
          "$ref": "#/components/parameters/module"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/limit"
        },
        {
          "$ref": "#/components/parameters/token"
        },
        {
          "$ref": "#/components/parameters/filter"
        }
      ],
      "get": {
        "tags": [
          "imported-by"
        ],
        "summary": "Paths of packages importing the package at {path},\nnot including packages in the same module",
        "description": "Paths of packages importing the package at {path},\nnot including packages in the same module.\nFiltering is applied to the list of paths in the response.\nOnly paths that match the filter query parameter are returned.\nWithin a filter, the variable `path` is set to the import path.",
        "operationId": "GetImportedBy",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PackageImportedBy"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/module/{path}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/moduleInPath"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/licenses"
        },
        {
          "$ref": "#/components/parameters/readme"
        }
      ],
      "get": {
        "tags": [
          "module"
        ],
        "summary": "Information about the module at {path}",
        "description": "Information about the module at {path}.",
        "operationId": "GetModule",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Module"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/package/{path}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/packageInPath"
        },
        {
          "$ref": "#/components/parameters/module"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/goos"
        },
        {
          "$ref": "#/components/parameters/goarch"
        },
        {
          "$ref": "#/components/parameters/doc"
        },
        {
          "$ref": "#/components/parameters/examples"
        },
        {
          "$ref": "#/components/parameters/imports"
        },
        {
          "$ref": "#/components/parameters/licenses"
        }
      ],
      "get": {
        "tags": [
          "package"
        ],
        "summary": "Information about the package at {path}",
        "description": "Information about the package at {path}.",
        "operationId": "GetPackage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Package"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/packages/{path}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/moduleInPath"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/limit"
        },
        {
          "$ref": "#/components/parameters/token"
        },
        {
          "$ref": "#/components/parameters/filter"
        }
      ],
      "get": {
        "tags": [
          "packages"
        ],
        "summary": "Information about packages of the module at {path}",
        "description": "Information about packages of the module at {path}.\nFiltering is applied to the list of packages in the response.\nOnly packages that match the filter query parameter are returned.",
        "operationId": "GetPackages",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PackagesResponse"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/q"
        },
        {
          "$ref": "#/components/parameters/symbol"
        },
        {
          "$ref": "#/components/parameters/limit"
        },
        {
          "$ref": "#/components/parameters/token"
        },
        {
          "$ref": "#/components/parameters/filter"
        }
      ],
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Search results",
        "description": "Search results. Only results that match the filter query parameter are returned.\nResults are sorted by how well the match the query, with the best match first.",
        "operationId": "GetSearch",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedSearchResults"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/symbols/{path}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/packageInPath"
        },
        {
          "$ref": "#/components/parameters/module"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/goos"
        },
        {
          "$ref": "#/components/parameters/goarch"
        },
        {
          "$ref": "#/components/parameters/limit"
        },
        {
          "$ref": "#/components/parameters/token"
        },
        {
          "$ref": "#/components/parameters/filter"
        }
      ],
      "get": {
        "tags": [
          "symbols"
        ],
        "summary": "List of symbols for the package at {path}",
        "description": "List of symbols for the package at {path}.\nFiltering is applied to the list of symbols in the response.\nOnly symbols that match the filter query parameter are returned.",
        "operationId": "GetSymbols",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PackageSymbols"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/versions/{path}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/moduleInPath"
        },
        {
          "$ref": "#/components/parameters/limit"
        },
        {
          "$ref": "#/components/parameters/token"
        },
        {
          "$ref": "#/components/parameters/filter"
        },
        {
          "$ref": "#/components/parameters/pseudo"
        }
      ],
      "get": {
        "tags": [
          "versions"
        ],
        "summary": "All versions of the module at {path}, including all major versions",
        "description": "All versions of the module at {path}, including all major versions.\nVersions are listed in descending order, with incompatible versions last.\nOnly tagged versions are returned, unless the pseudo query parameter is true.\nIn addition, only results that match the filter query parameter are returned.\nThe total in the response is -1 to indicate that the total number of results is unknown,\nunless all results fit on a single page.",
        "operationId": "GetVersions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedModuleVersions"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/vulns/{path}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path"
        },
        {
          "$ref": "#/components/parameters/module"
        },
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/limit"
        },
        {
          "$ref": "#/components/parameters/token"
        },
        {
          "$ref": "#/components/parameters/filter"
        }
      ],
      "get": {
        "tags": [
          "vulns"
        ],
        "summary": "Vulnerabilities of the module or package at {path}",
        "description": "Vulnerabilities of the module or package at {path}.\nData comes from the Go vulnerability database (https://vuln.go.dev).\nOnly results that match the filter query parameter are returned.",
        "operationId": "GetVulns",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaginatedVulnerabilities"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Candidate": {
        "type": "object",
        "properties": {
          "modulePath": {
            "type": "string"
          },
          "packagePath": {
            "type": "string"
          }
        }
      },
      "Candidates": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Candidate"
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "candidates": {
            "$ref": "#/components/schemas/Candidates"
          },
          "code": {
            "description": "Code is the HTTP status code.",
            "type": "integer"
          },
          "fixes": {
            "description": "Fixes are suggestions for how to fix.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code"
        ]
      },
      "License": {
        "type": "object",
        "properties": {
          "contents": {
            "type": "string"
          },
          "filePath": {
            "type": "string"
          },
          "types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Licenses": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/License"
        }
      },
      "Module": {
        "type": "object",
        "properties": {
          "commitTime": {
            "description": "CommitTime is the timestamp returned by the module proxy's .info endpoint,\nrepresenting the time the version was created.",
            "type": "string",
            "format": "date-time",
            "example": "2026-02-11T19:14:29Z"
          },
          "goModContents": {
            "type": "string"
          },
          "hasGoMod": {
            "type": "boolean"
          },
          "isLatest": {
            "type": "boolean"
          },
          "isRedistributable": {
            "type": "boolean"
          },
          "isStandardLibrary": {
            "type": "boolean"
          },
          "licenses": {
            "$ref": "#/components/schemas/Licenses"
          },
          "path": {
            "type": "string",
            "example": "golang.org/x/time"
          },
          "readme": {
            "$ref": "#/components/schemas/Readme"
          },
          "repoUrl": {
            "type": "string",
            "example": "https://cs.opensource.google/go/x/time"
          },
          "version": {
            "type": "string",
            "example": "v0.15.0"
          }
        }
      },
      "ModuleVersion": {
        "type": "object",
        "properties": {
          "commitTime": {
            "type": "string",
            "format": "date-time",
            "example": "2026-02-11T19:14:29Z"
          },
          "deprecated": {
            "type": "boolean"
          },
          "deprecationReason": {
            "type": "string",
            "example": ""
          },
          "hasGoMod": {
            "description": "HasGoMod is whether the module has a go.mod file.",
            "type": "boolean"
          },
          "isRedistributable": {
            "description": "IsRedistributable is whether the license allows distribution.",
            "type": "boolean"
          },
          "latestVersion": {
            "description": "LatestVersion is the latest unretracted version.",
            "type": "string",
            "example": "v0.15.0"
          },
          "modulePath": {
            "type": "string",
            "example": "golang.org/x/time"
          },
          "retracted": {
            "type": "boolean"
          },
          "retractionReason": {
            "type": "string",
            "example": ""
          },
          "version": {
            "type": "string",
            "example": "v0.15.0"
          }
        }
      },
      "ModuleVersions": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ModuleVersion"
        }
      },
      "Package": {
        "type": "object",
        "properties": {
          "docs": {
            "type": "string"
          },
          "goarch": {
            "type": "string",
            "example": "all"
          },
          "goos": {
            "type": "string",
            "example": "all"
          },
          "imports": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isLatest": {
            "type": "boolean"
          },
          "isRedistributable": {
            "description": "IsRedistributable is whether the license allows distribution.",
            "type": "boolean"
          },
          "isStandardLibrary": {
            "type": "boolean"
          },
          "licenses": {
            "$ref": "#/components/schemas/Licenses"
          },
          "modulePath": {
            "type": "string",
            "example": "golang.org/x/time"
          },
          "name": {
            "type": "string",
            "example": "rate"
          },
          "path": {
            "type": "string",
            "example": "golang.org/x/time/rate"
          },
          "synopsis": {
            "type": "string",
            "example": "Package rate provides a rate limiter."
          },
          "version": {
            "type": "string",
            "example": "v0.15.0"
          }
        }
      },
      "PackageImportedBy": {
        "type": "object",
        "properties": {
          "importedBy": {
            "$ref": "#/components/schemas/PaginatedResponse_string"
          },
          "modulePath": {
            "type": "string",
            "example": "golang.org/x/time"
          },
          "version": {
            "type": "string",
            "example": "latest"
          }
        }
      },
      "PackageInfo": {
        "type": "object",
        "properties": {
          "isRedistributable": {
            "description": "IsRedistributable is whether the license allows distribution.",
            "type": "boolean"
          },
          "name": {
            "type": "string",
            "example": "rate"
          },
          "path": {
            "type": "string",
            "example": "golang.org/x/time/rate"
          },
          "synopsis": {
            "type": "string",
            "example": "Package rate provides a rate limiter."
          }
        }
      },
      "PackageInfos": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/PackageInfo"
        }
      },
      "PackageSymbols": {
        "type": "object",
        "properties": {
          "modulePath": {
            "type": "string",
            "example": "golang.org/x/time"
          },
          "symbols": {
            "$ref": "#/components/schemas/PaginatedResponse_Symbol"
          },
          "version": {
            "type": "string",
            "example": "v0.15.0"
          }
        }
      },
      "PackagesResponse": {
        "type": "object",
        "properties": {
          "isStandardLibrary": {
            "type": "boolean"
          },
          "modulePath": {
            "type": "string",
            "example": "golang.org/x/time"
          },
          "packages": {
            "$ref": "#/components/schemas/PaginatedResponse_PackageInfo"
          },
          "version": {
            "type": "string",
            "example": "v0.15.0"
          }
        }
      },
      "PaginatedResponse_ModuleVersion": {
        "type": "object",
        "properties": {
          "items": {
            "$ref": "#/components/schemas/ModuleVersions"
          },
          "nextPageToken": {
            "type": "string",
            "example": "0d2b18b139e65c9d5c88c9d41e1bb6dc57cdc67e892d5668addbee330af572ad6307fe0e60ae487e7278f3b5a28a2cd4020abf758cf2aabcbec3fd299bfa42c926a17090"
          },
          "total": {
            "type": "integer",
            "example": -1
          }
        }
      },
      "PaginatedResponse_PackageInfo": {
        "type": "object",
        "properties": {
          "items": {
            "$ref": "#/components/schemas/PackageInfos"
          },
          "nextPageToken": {
            "type": "string"
          },
          "total": {
            "type": "integer",
            "example": 1
          }
        }
      },
      "PaginatedResponse_SearchResult": {
        "type": "object",
        "properties": {
          "items": {
            "$ref": "#/components/schemas/SearchResults"
          },
          "nextPageToken": {
            "type": "string"
          },
          "total": {
            "type": "integer",
            "example": 13
          }
        }
      },
      "PaginatedResponse_Symbol": {
        "type": "object",
        "properties": {
          "items": {
            "$ref": "#/components/schemas/Symbols"
          },
          "nextPageToken": {
            "type": "string"
          },
          "total": {
            "type": "integer",
            "example": 31
          }
        }
      },
      "PaginatedResponse_Vulnerability": {
        "type": "object",
        "properties": {
          "items": {
            "$ref": "#/components/schemas/Vulnerabilities"
          },
          "nextPageToken": {
            "type": "string"
          },
          "total": {
            "type": "integer",
            "example": 0
          }
        }
      },
      "PaginatedResponse_string": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "0xacab.org/leap/geoip-service/internal/service"
            }
          },
          "nextPageToken": {
            "type": "string",
            "example": "15a859f8f5a82e2ce654788c147e1bcfe1a1001e0bb1ddbb73ec7001c926b7baa6e1fc667e50779a7480d2b295f009ebc437ac6710a356543f6356eddeecac5aa2bc75dd6c06384502dc621630b092"
          },
          "total": {
            "type": "integer",
            "example": 14348
          }
        }
      },
      "Readme": {
        "type": "object",
        "properties": {
          "contents": {
            "type": "string"
          },
          "filepath": {
            "type": "string"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "modulePath": {
            "type": "string",
            "example": "github.com/docktermj/go-xyzzy-helpers"
          },
          "packagePath": {
            "type": "string",
            "example": "github.com/docktermj/go-xyzzy-helpers/logger"
          },
          "synopsis": {
            "type": "string",
            "example": "Package helper ..."
          },
          "version": {
            "type": "string",
            "example": "v0.2.2"
          }
        }
      },
      "SearchResults": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SearchResult"
        }
      },
      "Symbol": {
        "type": "object",
        "properties": {
          "kind": {
            "description": "Kind is one of \"Constant\", \"Variable\", \"Function\", \"Type\", \"Field\", or \"Method\".",
            "type": "string",
            "example": "Type"
          },
          "name": {
            "type": "string",
            "example": "Limit"
          },
          "parent": {
            "type": "string",
            "example": "Limit"
          },
          "synopsis": {
            "type": "string",
            "example": "type Limit float64"
          }
        }
      },
      "Symbols": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Symbol"
        }
      },
      "Vulnerabilities": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Vulnerability"
        },
        "example": null
      },
      "Vulnerability": {
        "type": "object",
        "properties": {
          "details": {
            "type": "string"
          },
          "fixedVersion": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Module": {
        "description": "Successful response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Module"
            }
          }
        }
      },
      "Package": {
        "description": "Successful response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Package"
            }
          }
        }
      },
      "PackageImportedBy": {
        "description": "Successful response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PackageImportedBy"
            }
          }
        }
      },
      "PackageSymbols": {
        "description": "Successful response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PackageSymbols"
            }
          }
        }
      },
      "PackagesResponse": {
        "description": "Successful response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PackagesResponse"
            }
          }
        }
      },
      "PaginatedModuleVersions": {
        "description": "Successful response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PaginatedResponse_ModuleVersion"
            }
          }
        }
      },
      "PaginatedSearchResults": {
        "description": "Successful response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PaginatedResponse_SearchResult"
            }
          }
        }
      },
      "PaginatedVulnerabilities": {
        "description": "Successful response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PaginatedResponse_Vulnerability"
            }
          }
        }
      }
    },
    "parameters": {
      "doc": {
        "name": "doc",
        "in": "query",
        "description": "Documentation format: text, html, md or markdown.\nIf omitted, documentation is not returned.",
        "schema": {
          "type": "string"
        }
      },
      "examples": {
        "name": "examples",
        "in": "query",
        "description": "Whether to include examples with the returned documentation.",
        "schema": {
          "type": "boolean"
        }
      },
      "filter": {
        "name": "filter",
        "in": "query",
        "description": "Include only items matching the regular expression filter.",
        "schema": {
          "type": "string"
        }
      },
      "goarch": {
        "name": "goarch",
        "in": "query",
        "description": "GOARCH of documentation build context.",
        "schema": {
          "type": "string"
        }
      },
      "goos": {
        "name": "goos",
        "in": "query",
        "description": "GOOS of documentation build context.",
        "schema": {
          "type": "string"
        }
      },
      "imports": {
        "name": "imports",
        "in": "query",
        "description": "Whether to include the packages that this one imports.",
        "schema": {
          "type": "boolean"
        }
      },
      "licenses": {
        "name": "licenses",
        "in": "query",
        "description": "Whether to include licenses in the result.",
        "schema": {
          "type": "boolean"
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Max number of items to return.",
        "schema": {
          "type": "integer"
        }
      },
      "module": {
        "name": "module",
        "in": "query",
        "description": "Module path.",
        "schema": {
          "type": "string"
        }
      },
      "moduleInPath": {
        "name": "path",
        "in": "path",
        "description": "Module path.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "packageInPath": {
        "name": "path",
        "in": "path",
        "description": "Package path.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "path": {
        "name": "path",
        "in": "path",
        "description": "Module or package path.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "pseudo": {
        "name": "pseudo",
        "in": "query",
        "description": "Whether to include pseudo-versions in the result.",
        "schema": {
          "type": "boolean"
        }
      },
      "q": {
        "name": "q",
        "in": "query",
        "description": "Find packages matching this query.",
        "schema": {
          "type": "string",
          "example": "xyzzy"
        }
      },
      "readme": {
        "name": "readme",
        "in": "query",
        "description": "Whether to include the README in the result.",
        "schema": {
          "type": "boolean"
        }
      },
      "symbol": {
        "name": "symbol",
        "in": "query",
        "description": "If non-empty, find symbols matching this string.\nThe query further restricts the search to matching packages.",
        "schema": {
          "type": "string"
        }
      },
      "token": {
        "name": "token",
        "in": "query",
        "description": "Where to resume listing.",
        "schema": {
          "type": "string"
        }
      },
      "version": {
        "name": "version",
        "in": "query",
        "description": "Module version: semantic version, 'latest', or default branches 'master' or 'main'.\n(Latest if empty).",
        "schema": {
          "type": "string"
        }
      }
    }
  },
  "tags": [
    {
      "name": "imported-by"
    },
    {
      "name": "module"
    },
    {
      "name": "package"
    },
    {
      "name": "packages"
    },
    {
      "name": "search"
    },
    {
      "name": "symbols"
    },
    {
      "name": "versions"
    },
    {
      "name": "vulns"
    }
  ]
}